html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: "TTLakes";
    src: local("TTLakes-Medium"),
        local("TTLakes-Regular"),
        local("TTLakes-Bold"),
        url("fonts/TTLakes/TTLakes-Medium.woff") format("woff"),
        url("fonts/TTLakes/TTLakes-Regular.woff") format("woff"),
        url("fonts/TTLakes/TTLakes-Bold.woff") format("woff");
    font-weight: 400;

}

@font-face {
    font-family: "TTLakes";
    src: url("fonts/TTLakes/TTLakes-Bold.woff") format("woff");
    font-weight: 700;

}

@font-face {
    font-family: "TTLakes";
    src: url("fonts/TTLakes/TTLakes-Medium.woff") format("woff");
    font-weight: 500;

}

.body{
    display: flex;
    max-width: 100%;
}
.search-wrapper {
    display: flex;
    flex-direction: column;
    width: 661px;
    min-height: 763px;
    background-color: #C4C4C4;
    font-family: 'TTLakes', sans-serif;
    align-items: center;
 margin-left: auto;
 margin-right: auto;
}

.input-wrapper {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}

.input-wrapper_input {
    font-family: 'TTLakes';
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 500px;
    height: 61px;
    background-color: #FFFFFF;
    border: none;
    padding: 0 15px;
    margin-top: 62px;
    outline: none;    
    border: 1px solid #102b1b;
    margin-right: auto;
    margin-right: auto;
}



.search-list {
    padding: 0;
    margin: 0;
}

.repositories-wrapper__list{
    padding-left: 0;
}

.user {
    display: flex;
    list-style: none;
    width: 500px;
    background-color: #fdfcfd;
    height: 70px;
    border: 1px solid #102b1b;
    padding-left: 16px;
    cursor: pointer;

}

.added-repository-wraper {
    display: flex;
    list-style: none;
    width: 500px;
    background-color: #fdfcfd;
    height: 70px;
    border: 1px solid #102b1b;
    padding-left: 16px;
    cursor: pointer;
}

.added-repository {
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
    background: #2e794d;
    border: none;
    cursor: pointer;
}

.focused {
    background-color: rgb(178, 199, 192);
}

.repository-info {
    align-self: center;
}

.added-list {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 500px;
    background-color: #a89fa8;
    height: auto;

}