html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    width: 661px;
    height: 763px;
    place-items: center;
    font-family: Arial, sans-serif;
    background-color: #C4C4C4;
}
.search-line{
    height: auto;
}
.search-input {
    width: 500px;
    height: 61px;
    background-color: #FFFFFF;
    border: none;
    padding: 0 15px;
    font-size: 16px;
    margin-top: 62px;
}



.search-list {
    padding: 0;
    margin: 0;
}
.users-list{
    padding-left: 0;
}
.user {
    display: flex;
    list-style: none;
    width: 500px;
    background-color: #fdfcfd;
    height: 61px;
    border: 1px solid #000000;
    padding-left: 16px;
    cursor: pointer;

}

.added-users{
    display: flex;
    list-style: none;
    width: 500px;
    background-color: #fdfcfd;
    height: 65px;
    border: 1px solid #000000;
    padding-left: 16px;
    cursor: pointer;
}
.added-users-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.btn-close{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
    background: #550255; /* Прозрачный фон */
    border: none; /* Убираем рамку */
    cursor: pointer; /* Указываем, что это кнопка */
}

.focused {
    background-color: aquamarine;
}
.user-info {
    align-self: center;
}

.checked-users-wrapper{
    margin-top:60px;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 500px;
    background-color: #b33eb3;
    height:auto;

}
